# Pandas
2. Dataframes

In [10]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
#Index Levels

outside = ['g1','g1','g1','g2','g2','g2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['g1', 'g1', 'g1', 'g2', 'g2', 'g2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [7]:
hier_index

MultiIndex(levels=[['g1', 'g2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [12]:
df = pd.DataFrame(randn(6,2), hier_index,['a','b'])

In [13]:
df

             a         b
g1 1  0.705211  0.418307
   2  0.809689 -0.629998
   3  1.160595 -0.244987
g2 1  0.389206 -0.536762
   2 -2.038693 -1.382148
   3  0.452667  1.549557

In [14]:
df.loc['g1']

          a         b
1  0.705211  0.418307
2  0.809689 -0.629998
3  1.160595 -0.244987

In [15]:
df.loc['g1'].loc[1]

a    0.705211
b    0.418307
Name: 1, dtype: float64

In [16]:
df.index.names

FrozenList([None, None])

In [17]:
df.index.names = ['Groups', 'Num']

In [18]:
df

                   a         b
Groups Num
g1     1    0.705211  0.418307
       2    0.809689 -0.629998
       3    1.160595 -0.244987
g2     1    0.389206 -0.536762
       2   -2.038693 -1.382148
       3    0.452667  1.549557

In [19]:
df.loc['g2']

            a         b
Num
1    0.389206 -0.536762
2   -2.038693 -1.382148
3    0.452667  1.549557

In [26]:
df.loc['g2'].loc[2]

a   -2.038693
b   -1.382148
Name: 2, dtype: float64

In [27]:
df.loc['g2'].loc[2]['b']

-1.3821479434449737

In [28]:
df.loc['g2'].loc[3]['b']

1.5495569401492553

In [29]:
#cross section

df

                   a         b
Groups Num
g1     1    0.705211  0.418307
       2    0.809689 -0.629998
       3    1.160595 -0.244987
g2     1    0.389206 -0.536762
       2   -2.038693 -1.382148
       3    0.452667  1.549557

In [30]:
df.loc['g1']

            a         b
Num
1    0.705211  0.418307
2    0.809689 -0.629998
3    1.160595 -0.244987

In [31]:
df.xs('g1')

            a         b
Num
1    0.705211  0.418307
2    0.809689 -0.629998
3    1.160595 -0.244987

In [32]:
df.xs(1,level='Num')

               a         b
Groups
g1      0.705211  0.418307
g2      0.389206 -0.536762