# Pandas
2. DataFrame Part-II

In [ ]:
#Conditional selection

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from numpy.random import randn

In [4]:
df = pd.DataFrame(randn(5,4),['a','b','c','d','e'], ['w','x','y','z'])

In [5]:
df

          w         x         y         z
a  0.539826 -0.160349  1.727534 -0.242427
b  0.336229  0.104337  1.232606 -1.182325
c -0.522666 -0.765063 -1.646537  0.827257
d  0.772845  0.326039  1.608811  0.809319
e  0.273173 -1.823881 -1.443344  0.682987

In [6]:
df >0

       w      x      y      z
a   True  False   True  False
b   True   True   True  False
c  False  False  False   True
d   True   True   True   True
e   True  False  False   True

In [7]:
booldf = df>0

In [8]:
booldf

       w      x      y      z
a   True  False   True  False
b   True   True   True  False
c  False  False  False   True
d   True   True   True   True
e   True  False  False   True

In [9]:
df[booldf]

          w         x         y         z
a  0.539826       NaN  1.727534       NaN
b  0.336229  0.104337  1.232606       NaN
c       NaN       NaN       NaN  0.827257
d  0.772845  0.326039  1.608811  0.809319
e  0.273173       NaN       NaN  0.682987

In [10]:
df[df>0]

          w         x         y         z
a  0.539826       NaN  1.727534       NaN
b  0.336229  0.104337  1.232606       NaN
c       NaN       NaN       NaN  0.827257
d  0.772845  0.326039  1.608811  0.809319
e  0.273173       NaN       NaN  0.682987

In [11]:
df

          w         x         y         z
a  0.539826 -0.160349  1.727534 -0.242427
b  0.336229  0.104337  1.232606 -1.182325
c -0.522666 -0.765063 -1.646537  0.827257
d  0.772845  0.326039  1.608811  0.809319
e  0.273173 -1.823881 -1.443344  0.682987

In [12]:
df['w'] > 0

a     True
b     True
c    False
d     True
e     True
Name: w, dtype: bool

In [13]:
df['w']

a    0.539826
b    0.336229
c   -0.522666
d    0.772845
e    0.273173
Name: w, dtype: float64

In [14]:
df[df['w']>0]

          w         x         y         z
a  0.539826 -0.160349  1.727534 -0.242427
b  0.336229  0.104337  1.232606 -1.182325
d  0.772845  0.326039  1.608811  0.809319
e  0.273173 -1.823881 -1.443344  0.682987

In [15]:
df

          w         x         y         z
a  0.539826 -0.160349  1.727534 -0.242427
b  0.336229  0.104337  1.232606 -1.182325
c -0.522666 -0.765063 -1.646537  0.827257
d  0.772845  0.326039  1.608811  0.809319
e  0.273173 -1.823881 -1.443344  0.682987

In [16]:
df[df['z']<0]

          w         x         y         z
a  0.539826 -0.160349  1.727534 -0.242427
b  0.336229  0.104337  1.232606 -1.182325

In [17]:
df[df['w']>0]

          w         x         y         z
a  0.539826 -0.160349  1.727534 -0.242427
b  0.336229  0.104337  1.232606 -1.182325
d  0.772845  0.326039  1.608811  0.809319
e  0.273173 -1.823881 -1.443344  0.682987

In [18]:
resultdf = df[df['w']>0]

In [19]:
resultdf['x']

a   -0.160349
b    0.104337
d    0.326039
e   -1.823881
Name: x, dtype: float64

In [20]:
df[df['w']>0]

          w         x         y         z
a  0.539826 -0.160349  1.727534 -0.242427
b  0.336229  0.104337  1.232606 -1.182325
d  0.772845  0.326039  1.608811  0.809319
e  0.273173 -1.823881 -1.443344  0.682987

In [21]:
df[df['w']>0]['x']

a   -0.160349
b    0.104337
d    0.326039
e   -1.823881
Name: x, dtype: float64

In [23]:
df[df['w']>0][['y','x']]

          y         x
a  1.727534 -0.160349
b  1.232606  0.104337
d  1.608811  0.326039
e -1.443344 -1.823881

In [25]:
boolser = df['w']>0
result = df[boolser]

In [26]:
result

          w         x         y         z
a  0.539826 -0.160349  1.727534 -0.242427
b  0.336229  0.104337  1.232606 -1.182325
d  0.772845  0.326039  1.608811  0.809319
e  0.273173 -1.823881 -1.443344  0.682987

In [27]:
mycols = ['y','x']
result[mycols]

          y         x
a  1.727534 -0.160349
b  1.232606  0.104337
d  1.608811  0.326039
e -1.443344 -1.823881

In [28]:
 df[(df['w']>0) and (df['y']>1)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [29]:
True and False

False

In [30]:
True and True

True

In [31]:
False and False

False

In [32]:
df['w']>0

a     True
b     True
c    False
d     True
e     True
Name: w, dtype: bool

In [33]:
 df[(df['w']>0) & (df['y']>1)]

          w         x         y         z
a  0.539826 -0.160349  1.727534 -0.242427
b  0.336229  0.104337  1.232606 -1.182325
d  0.772845  0.326039  1.608811  0.809319

In [34]:
 df[(df['w']>0) | (df['y']>1)]

          w         x         y         z
a  0.539826 -0.160349  1.727534 -0.242427
b  0.336229  0.104337  1.232606 -1.182325
d  0.772845  0.326039  1.608811  0.809319
e  0.273173 -1.823881 -1.443344  0.682987

In [35]:
 df[(df['w']>0) or (df['y']>1)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [36]:
True or False

True

In [37]:
True or True

True

In [38]:
False or False

False

In [39]:
False or True

True

In [40]:
df

          w         x         y         z
a  0.539826 -0.160349  1.727534 -0.242427
b  0.336229  0.104337  1.232606 -1.182325
c -0.522666 -0.765063 -1.646537  0.827257
d  0.772845  0.326039  1.608811  0.809319
e  0.273173 -1.823881 -1.443344  0.682987

In [41]:
df.reset_index

<bound method DataFrame.reset_index of           w         x         y         z
a  0.539826 -0.160349  1.727534 -0.242427
b  0.336229  0.104337  1.232606 -1.182325
c -0.522666 -0.765063 -1.646537  0.827257
d  0.772845  0.326039  1.608811  0.809319
e  0.273173 -1.823881 -1.443344  0.682987>

In [42]:
df.reset_index()

  index         w         x         y         z
0     a  0.539826 -0.160349  1.727534 -0.242427
1     b  0.336229  0.104337  1.232606 -1.182325
2     c -0.522666 -0.765063 -1.646537  0.827257
3     d  0.772845  0.326039  1.608811  0.809319
4     e  0.273173 -1.823881 -1.443344  0.682987

In [43]:
df

          w         x         y         z
a  0.539826 -0.160349  1.727534 -0.242427
b  0.336229  0.104337  1.232606 -1.182325
c -0.522666 -0.765063 -1.646537  0.827257
d  0.772845  0.326039  1.608811  0.809319
e  0.273173 -1.823881 -1.443344  0.682987

In [44]:
newind = 'CA Ny WY OR CO'.split()

In [45]:
newind

['CA', 'Ny', 'WY', 'OR', 'CO']

In [46]:
df['states'] = newind

In [47]:
df

          w         x         y         z states
a  0.539826 -0.160349  1.727534 -0.242427     CA
b  0.336229  0.104337  1.232606 -1.182325     Ny
c -0.522666 -0.765063 -1.646537  0.827257     WY
d  0.772845  0.326039  1.608811  0.809319     OR
e  0.273173 -1.823881 -1.443344  0.682987     CO

In [48]:
df.set_index('states')

               w         x         y         z
states
CA      0.539826 -0.160349  1.727534 -0.242427
Ny      0.336229  0.104337  1.232606 -1.182325
WY     -0.522666 -0.765063 -1.646537  0.827257
OR      0.772845  0.326039  1.608811  0.809319
CO      0.273173 -1.823881 -1.443344  0.682987

In [49]:
df

          w         x         y         z states
a  0.539826 -0.160349  1.727534 -0.242427     CA
b  0.336229  0.104337  1.232606 -1.182325     Ny
c -0.522666 -0.765063 -1.646537  0.827257     WY
d  0.772845  0.326039  1.608811  0.809319     OR
e  0.273173 -1.823881 -1.443344  0.682987     CO