# PANDAS
1. Series

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a','b','c']
mydata = [10,20,30]
arr = np.array(mydata)
d = {'a':10, 'b':20, 'c':30 }

In [4]:
mydata

[10, 20, 30]

In [5]:
arr

array([10, 20, 30])

In [6]:
d

{'a': 10, 'b': 20, 'c': 30}

In [7]:
pd.Series(data = mydata)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data = mydata, index = labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(mydata,labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [11]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [12]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [13]:
labels

['a', 'b', 'c']

In [14]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [15]:
pd.Series(data = [sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [18]:
ser1 = pd.Series([1,2,3,4],['USA','Ger','Rus','Jap'])

In [19]:
ser1

USA    1
Ger    2
Rus    3
Jap    4
dtype: int64

In [20]:
ser2 = pd.Series([1,2,5,4], ['USA','Ger','Ind','Jap'])

In [21]:
ser2

USA    1
Ger    2
Ind    5
Jap    4
dtype: int64

In [22]:
ser1['USA']

1

In [23]:
ser3 = pd.Series(data = labels)

In [24]:
ser3

0    a
1    b
2    c
dtype: object

In [25]:
ser3[0]

'a'

In [26]:
ser1 + ser2

Ger    4.0
Ind    NaN
Jap    8.0
Rus    NaN
USA    2.0
dtype: float64

Pandas and NumPy always convert the integer to FLOAT in order to 
retain information